$color: blue;
$textalm: medterm;
$border: 1px solid black;
$border-collapse: collapse;
$padding: 5px;

ul{
	color: $color;
}
table,th{
	text-align: $textalm;
	border: $border;
	border-collapse: $border-collapse;
	padding: $padding;
}
td{
	border: $border;
	padding: $padding;
	text-align: left;
}

li em{
	color: black;
}
p em{
	color: red;
}

#Hello2{
	color: red;
}
#container {
	display: flex; 
	flex-wrap: wrap;
}
#container > div{
	background-color: springgreen;
	font-size: 20px;
	margin: 20px;
	padding: 20px;
	width: 200px;
}

/*div{
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	height: 300px;
	margin: 5px;
	padding: 20px;
}*/

button {
	color: white;
	width: 200px;
	height: 50px;
	font-size: 24px;
	background-color: black;
}
button:hover {
	color: black;
	background-color: white;
}

@media (min-width: 1000px){
	div {
		background-color: skyblue;
	}
}
@media (max-width: 999px){
	div {
		background-color: orange;
	}
}